[data-title] {
    position: relative;
    cursor: help;
  }
  [data-title]::after {
    content: attr(data-title);
    position: absolute;
    left: 0; top: 1em;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    background: rgba(57, 137, 201, 1);
    color: #fff;
    padding: 0.5em;
  }
  [data-title]:hover::after {
    opacity: 1;
  }

  table, th, td {
    border:1px solid black;
  }