[data-title] {
    position: relative;
    cursor: help;
  }
  [data-title]::after {
    content: attr(data-title);
    position: absolute;
    left: 0; top: 1em;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    background: rgba(57, 137, 201, 1);
    color: #fff;
    padding: 0.5em;
  }
  [data-title]:hover::after {
    opacity: 1;
  }

  table, th, td {
    border:1px solid rgb(255, 255, 255);
    text-align: center; 
    vertical-align: middle;
    color: #ffffff;
    background-color: rgb(40, 40, 40);
  }

  @font-face {
    font-family: Shancalluna_regular; 
    src: local('Shancalluna_regular'), local('Shancalluna regular'), local('Shancalluna-regular'),
    url("fonts/Shancalluna_regular.ttf"); 
    color: #ffffff;
  }

  body {font-family: Shancalluna_regular;
        background-image: linear-gradient(
          to bottom,
          rgb(25,25,25),
          rgb(25,25,25)); 
        color: #ffffff;
      }
  h1 {font-family: Shancalluna_regular; font-style: normal; font-weight: bolder; color: #ffffff; display: flex; justify-content: center;}

  a, u {
    text-decoration: none;
    color: #ffffff;
  }

.center {
  display: flex;
  justify-content: center;
  }

.block {
  transform: scale(0.7);
  display: flex;
  justify-content: center;
  
  }