[data-title] {
    position: relative;
    cursor: help;
  }
  [data-title]::after {
    content: attr(data-title);
    position: absolute;
    left: 0; top: 1em;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    background: rgba(57, 137, 201, 1);
    color: #fff;
    padding: 0.5em;
  }
  [data-title]:hover::after {
    opacity: 1;
  }

  table, th, td {
    border:1px solid black;
  }

  @font-face {
    font-family: Shancalluna_regular; 
    src: local('Shancalluna_regular'), local('Shancalluna regular'), local('Shancalluna-regular'),
    url("fonts/Shancalluna_regular.ttf"); 
  }

  body {font-family: Shancalluna_regular;}
  h1 {font-family: Shancalluna_regular; font-style: normal; font-weight: bolder;}

  a, u {
    text-decoration: none;
    color: #666;
  }

td 
{
    text-align: center; 
    vertical-align: middle;
}

th 
{
    text-align: center; 
    vertical-align: middle;
}