<html>
<head>
  <meta name="yandex-verification" content="5060e7f10ab2388a" />
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(95783667, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95783667" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<meta name="viewport" content="user-scalable = no">
</head> 

<body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <div><h1 class="parent">Heresypedia</h1></div>
  <div class="block"><img src="static/images/icon.png" /></div>
  <form class="center" method="POST" action="{{ url_for('index') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Please select</span>
              <select name="comp_select" class="selectpicker form-control">
                {% for f in formings %}
                <option value="{{ f.Name }}">{{ f.Name }}</option>
                {% endfor %}
              </select>
      </div>
      <button type="submit" class="btn btn-default">Sumbit</button>
    </div>
  </form>
  <p>{{forming}}:</p>
  {% for key in persons.keys(): %}
  <p>{{key}}: </p>
  <ul>
  {% for name in persons[key]: %}
  <li><a href="{{ url_for('solider', warrior=name, forming=forming) }}">{{name}}</a></li>
  {% endfor %}
 </ul>
  {% endfor %}

  <small><strong>All intellectual property rights and images belong to © Games Workshop Limited. The project is distributed on a non-commercial basis and is for informational purposes only.</strong></small><br>
  <small><strong>© 2009 exljbris Font Foundry. All rights reserved. The Shancalluna font is used for informational purposes only.</strong></small>
</body>
</html>


