<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<p>Horus Heresy database v.0.0.1</p>
<p>Type - {{spec.type}}</p>
<p>{{spec.name}} .................. {{spec.points}} Points</p>
<table style="width:50%">
  <tr>
    <th>M</th>
    <th>WS</th>
    <th>BS</th>
    <th>S</th>
    <th>T</th>
    <th>W</th>
    <th>I</th>
    <th>A</th>
    <th>Ld</th>
    <th>Sv</th>
  </tr>
  <tr>
    <td>{{param[0]}}</td>
    <td>{{param[1]}}</td>
    <td>{{param[2]}}</td>
    <td>{{param[3]}}</td>
    <td>{{param[4]}}</td>
    <td>{{param[5]}}</td>
    <td>{{param[6]}}</td>
    <td>{{param[7]}}</td>
    <td>{{param[8]}}</td>
    <td>{{param[9]}}</td>

  </tr>
</table>
<table style="width:50%">
<tr>
  <td><p>Wargear:</p></td>
  <td><p>Special Rules:</p></td>
</tr>
<tr>
  <td><ul>
    {% for i in range(added_wargear|length): %} 
    <li>{{added_wargear[i]}}</li> 
    {% endfor %}
</ul></td>
<td><ul>
  {% for i in range(srules|length): %} 
  <li><div id="name" data-title="NONE FOR THIS TIME">{{srules[i]}}</div>
  </li> 
  {% endfor %}
</ul></td>
</tr>
</table>

<p>Start Wargear:</p>
<form method="post">
<ul>
  {% for i in range(wargear|length): %}
  <input type="checkbox" name="s_wargear" value="{{wargear[i]}}" checked><label for="s_wargear">{{wargear[i]}}</label><br>
  {% endfor %}
  <input type="submit">
</ul>
</form>

<p>Options:</p>
<form method="post">
<ul>
  {% for i in range(options|length): %} 
  <li>
    {% for j in range(options[i]|length): %}
    {% if j != 0 %}
    <input type="checkbox" name="o_wargear" value="{{options[i][j].split('.')[0]}}"><label for="o_wargear">- {{options[i][j]}}</label><br>
    {% else %}
    <p>{{options[i][j]}}</p>
    
    {% endif %}{% endfor %}
  <br><input type="submit"><br>
  </li> 
  {% endfor %}</li> 
</ul>
</form>


</html>

