<html>
  <head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(95783667, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95783667" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<h2><a href="{{ url_for('index') }}">Horus Heresy database v.0.1</a></h2>
<p>Type - {{spec.type}}</p>
<p>{{spec.name}} .................. {{spec.points}} Points</p>
<table style="width: 50%">
  <tr>
    <th>M</th>
    <th>WS</th>
    <th>BS</th>
    <th>S</th>
    <th>T</th>
    <th>W</th>
    <th>I</th>
    <th>A</th>
    <th>Ld</th>
    <th>Sv</th>
  </tr>
  <tr>
    <td>{{param[0]}}</td>
    <td>{{param[1]}}</td>
    <td>{{param[2]}}</td>
    <td>{{param[3]}}</td>
    <td>{{param[4]}}</td>
    <td>{{param[5]}}</td>
    <td>{{param[6]}}</td>
    <td>{{param[7]}}</td>
    <td>{{param[8]}}</td>
    <td>{{param[9]}}</td>

  </tr>
</table>
<table style="width:70%">
<tr>
  <td><p>Wargear:</p></td>
  <td><p>Special Rules:</p></td>
  <td><p>Unit Composition:</p></td>
  <td><p>Unit Type:</p></td>
</tr>
<tr>
  <td><ul>
    {% for i in added_wargear: %}
    {% if i in wargear_spec %}
    <div id="name" data-title='{{wargear_spec[i]}}'><li>{{i}}</li></div>
    {% else %}
    <li>{{i}}</li>
    {% endif %}
    {% endfor %}
</ul></td>
<td><ul>
  {% for i in srules: %} 
  <li>{{i}}</li> 
  {% endfor %}
</ul></td>
<td><ul>
  {% for i in compos: %} 
  <li>{{i}}</li> 
  {% endfor %}
</ul></td>
<td><ul>
  <li>{{unit_type}}</li> 
</ul></td>
</tr>
</table>

<table style="width: 50%">
  <tr>
    <th>Name</th>
    <th>Range</th>
    <th>Str</th>
    <th>AP</th>
    <th>Type</th>
  </tr>
  
    {% for i in weapon_spec%}
    <tr>
    <td>{{i.name}}</td>
    <td>{{i.Range}}</td>
    <td>{{i.Str}}</td>
    <td>{{i.AP}}</td>
    <td>
      {% for a in i.Type.split(", ") %}
      <div id="name" data-title='{{weapon_abil[a.replace("1", "X").replace("2", "X").replace("3", "X").replace("4", "X").replace("5", "X").replace("6", "X").replace("7", "X").replace("8", "X").replace("9", "X").replace("+", "")]}}'>{{a}}</div>
      {% endfor %}
    </td>
  </tr>
    {% endfor %}
</table>

<table style="width: 50%">
  <tr>
    <th>Name</th>
    <th>Ability</th>
  </tr>
  {% for i in added_wargear: %}
  {% if i in wargear_spec %}
  <tr>
      <th>{{i}}</th>
      <th>{{wargear_spec[i]}}</th>
  </tr>
  {% endif %}
  {% endfor %}
</table>

<table style="width: 50%">
  <tr>
    <th>Name</th>
    <th>Special Rule</th>
  </tr>
  {% for i in srules_spec.keys(): %}
  <tr>
      <th>{{i}}</th>
      <th>{{srules_spec[i.replace("1", "X").replace("2", "X").replace("3", "X").replace("4", "X").replace("5", "X").replace("6", "X").replace("7", "X").replace("8", "X").replace("9", "X")]}}</th>
  </tr>
  {% endfor %}
</table>

<p>Start Wargear:</p>
<form method="post">
<ul>
  {% for i in range(wargear|length): %}
  {% if wargear[i] == "Power weapon" %}
  {% for power in ["Power sword", "Power axe", "Power maul", "Power lance"]: %}
  <input type="radio" name="s_wargear" value="{{power}}" ><label for="s_wargear">{{power}}</label><br>
  {% endfor %}
  {% else %}
  <input type="checkbox" name="s_wargear" value="{{wargear[i]}}" checked><label for="s_wargear">{{wargear[i]}}</label><br>
  {% endif %}
  {% endfor %}
  <input type="submit">
</ul>


<p>Options:</p>

<ul>
  {% for i in range(1, options|length + 1): %} 
  <li>
    {% for j in range(options[i]|length): %}
    {% if j != 0  and options[i][j] != []%}
    <input type="checkbox" name="o_wargear" value="{{options[i][j].split('.')[0]}}"><label for="o_wargear">- {{options[i][j]}}</label><br>
    {% else %}
    <p>{{options[i][j]}}</p>
    
    {% endif %}{% endfor %}
  <br>
  </li> 
  {% endfor %}
</ul>
</form>


</html>

